<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ricerca</title>
    <?php include('include.php'); ?>

</head>

<body>
<?php
    	include('template/header.html');
	?>
<div class="show-of-head">
        <section class="content">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="span12">
                        <form class="form-search span8" action="search.php" method="get">
                            <div class="input-append">
                                <input type="text" class="span7 search-query" name="search" placeholder="Cerca">
                                <button type="submit" class="btn"><i class="icon-search"></i>Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="span8">
                        <?php print $risultato; ?>
                    </div>
                    <div class="span8">
                        <?php print $pages; ?>
                    </div>
                </div>
                <div class="span3 bs-docs-sidebar">
                    <a href="newproj.php" class="btn btn-large btn-block"><i class="icon-pencil"></i>Nuovo progetto</a>
                    <hr>
                    <ul class="nav nav-list well">
                        <li class="nav-header">Categorie:</li>
                        <?php print $categorie; ?>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>

<?php
        include('template/footer.html');
	?>
</body>
</html>
