<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="style/main.css" >
</head>

<body>
	<?php
    	include('template/header.html');
	?>
	<div class="container">
      <div class="row-fluid">
        <div class="span9">
        <form class="form-search" action="search.php" method="get">
       	  <input type="text" class="input-medium search-query" name="search">
		  <button type="submit" class="btn">Search</button>
		</form>
          <?php print $risultato; ?>
        </div>
        <div class="span3">
            <a href="newproj.php"><button class="btn btn-large btn-block" type="button">Nuovo progetto</button></a>
            <li class="nav-header">Categorie:</li>
            <ul class="nav nav-pills nav-stacked">
                <?php print $categorie; ?>
            </ul>
        </div>
      </div>
    </div>
    	
	<?php
        include('template/footer.html');
	?>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
