<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Consegna del progetto</title>
    <?php include('include.php'); ?>
</head>

<body>
<?php
	    include('header.html');
?>
<div class="show-of-head">
    <div class="container">
        <div class="row">
            <br/>
            <div class="span6 offset3 well">
                <legend>Consegna del progetto</legend>
    <?php
            print $msg;
            if(!$exist)
            {
        ?>

                <form action="consegna.php" enctype="multipart/form-data" method="post" id="file" name="file">
                    <div>
                        <input type="file" name="fileField" id="fileField" />
                        <div>
                            Il tuo PayPal <input name="pay" type="text" id="pay" placeholder="PayPal">
                        </div>
                        <textarea name="comment" rows="3" style="width:99%"	></textarea>
                        <input type="hidden" name="proj" value="<?php print $idProj; ?>"/>
                        <input type="submit" value="Carica" name="caricamento" id="fileButton"  class="btn"/>
                    </div>
                </form>
    <?php
    }
    else
    {
    ?>
        il prog. e' gia' stato caricato.

    <?php
    }
    ?>
            </div>
        </div>
    </div>
</div>

<?php include('footer.html'); ?>
</body>
</html>
