<div class="show-of-head">
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="span8 offset2 well">
                    <?php
                if($error)
                {
            ?>
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Warning!</h4>
                        <?php print $error; ?>
                    </div>
                    <?php
                }
             ?>
                    <form action="newproj.php" method="post">
                        Titolo del progetto:<br/>
                        <input type="text" name="projName" value="<?php print $_POST['projName']; ?>" placeholder="Titolo del progetto" style="height:30px; width:99%;"><br/>

                        <label class="radio">
                            <input type="radio" name="tipo" id="tipo1" value="1">
                            Cerco freelancer
                        </label>
                        <label class="radio">
                            <input type="radio" name="tipo" id="tipo2" value="2">
                            Cerco sponsor
                        </label>
                        <label class="radio">
                            <input type="radio" name="tipo" id="tipo3" value="3">
                            Cerco collaboratore
                        </label>
                        <hr/>

                        Categoria:<br/>
                        <?php print $categorie; ?>
                        <hr/>
                        Prezzo:<br />
                        <label class="radio inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="prezzo1" checked>
                        </label>
                        <!--<input type="number" name="prezzo" value="<?php print "$prezzo"; ?>" placeholder="Inserisci prezzo" style="height:30px;">-->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="input-prepend input-append">
                            <span class="add-on">€</span>
                            <input class="span2" id="appendedPrependedInput" type="number" value="<?php print $prezzo; ?>" name="prezzo" min="1" max="1000000">
                            <span class="add-on">.00</span>
                        </div><br />
                        <div>
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="prezzo2">
                            </label>
                            Da:
                            <div class="input-prepend input-append">
                                <span class="add-on">€</span>
                                <input class="span2" id="appendedPrependedInput2" type="number" value="<?php print $prezzo; ?>" name="prezzo1" min="1" max="1000000">
                                <span class="add-on">.00</span>
                            </div>
                            a
                            <div class="input-prepend input-append">
                                <span class="add-on">€</span>
                                <input class="span2" id="appendedPrependedInput3" type="number" value="<?php print $prezzo; ?>" name="prezzo2" min="1" max="1000000">
                                <span class="add-on">.00</span>
                            </div>
                        </div><br/>
                        <div class="input-prepend input-append">
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="prezzo3">
                                Da contrattare
                            </label>
                        </div>
                        <hr/>
                        Descrizione:<br />
                        <textarea name="d" rows="3" style="width:99%"><?php print $_POST['d']; ?></textarea>
                        <hr/>
                        Richieste:<br />
                        <textarea name="r" rows="3" style="width:99%"><?php print $_POST['r']; ?></textarea>
                        <br/>
                        <input type="submit" value="Pubblica" name="done" class="btn btn-success"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>