<section class="content">
    <div class="container">
        <div class="row">
            <div class="span12">
            <?php if($notExist == false)
            {
            ?>
                <div class="well">
                    <div class="span12">
                    <div class="span1">
                        <img src="<?php print $imgOwner; ?>" width="100px" max-height="100px" class="img-polaroid" />
                    </div>
                    <div class="span8">
                        <?php
                            print '<h4><a href="profile.php?id=' . $idOwner . '">' . $nameOwner . ' ';
                            print $secondnameOwner . '</a></h4>';
                            print '<p><small>' . $tipoOwner . '</small></p>';
                        ?>
                        <i class="icon-thumbs-up"></i><?php print $pos; ?> <i class="icon-thumbs-down"></i><?php print $neg; ?>
                    </div>
                    <div class="span2">
                        <?php
                        if($tipoProj < 3)
                        {
                        ?>
                        <div class="well well-small btn-success" name="prezzo">
                            <h3 class="text-center">&#128;<?php print $prezzo; ?></h3>
                        </div>
                        <?php
                                if($closed == true)
                                {
                                ?>
                        <small><i class="icon-lock"></i>Chiuso</small><br/>
                        <?php
                                }
                        ?>

                        <?php
                        }
            if(include('check.php'))
            {
            	if(!$proprietario)
                {
                    if($joined == false)
                    {
                        // se non ha ancora partecipato - aggingo bottone se progetto e ancora aperto
                        if(!$closed)
                        {
                            if($tipoProj == 1 || $tipoProj == 3)
                            {
                                // se il progetto e' freelance o cerco compagno
                                ?>
                                <div id="candid">
                                    <a href="#candidaModal" role="button" class="btn btn-large btn-block btn-success" data-toggle="modal" id="candida">Candidarsi</a>

                                    <div id="candidaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="candidaLabel" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 id="candidaLabel">La tua proposta</h3>
                                        </div>
                                        <div class="modal-body">
                                            <label>Testo della tua proposta</label>
                                            <textarea id="textP" maxlength="5000" rows="10" style="width:98%;"/></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                                            <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" id="candidarsi" data-in="<?php print $idProj; ?>">Candidarsi</button>
                                        </div>
                                    </div>
                                </div>
                                <?php
                            }
                            else
                            {
                                if($tipoProj == 2)
                                {
                                    // se e' il progetto da sponsorizzare
                                    ?>

                                    <div id="sponsor">
                                        <a href="#sponsorModal" role="button" class="btn btn-large btn-block btn-success" data-toggle="modal" id="sponsorizza">Sponsorizzare</a>

                                        <div id="sponsorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sponsorLabel" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="sponsorLabel">La tua proposta</h3>
                                            </div>
                                            <div class="modal-body">
                                                <label>Testo della tua proposta</label>
                                                <textarea id="textP" maxlength="5000" rows="10" style="width:98%;"/></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                                                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" id="spons" data-in="<?php print $idProj; ?>">Sponsorizza</button>
                                            </div>
                                        </div>
                                    </div>

                                <?php
                                }
                            }
                        }
                    }
                    else
                    {
                        // controllo se utente e' gia stato scelto e ha gia' consegnato il prog. - quandi levo il bottone 'candidarsi'
                        if(!$end)
                        {
                        ?>
                            <div id="rif">
                                <a href="#rifModal" role="button" class="btn btn-large btn-block btn-danger" data-toggle="modal" id="rifProj">Rifiuta</a>

                                <div id="rifModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="riflLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="riflLabel">Cancelare la proposta</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Sei sicuro di rifiutare la tua proposta?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                                        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="rifiuta" data-in="<?php print $idProj; ?>">Si</button>
                                    </div>
                                </div>
                            </div>
                        <?php
                            if($tipoProj == 2 && $win)
                            {
                                // se e' sponsorizzazione
                            ?>
                                <br />
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="vasp3d@gmail.com">
                                <input type="hidden" name="currency_code" value="EUR">
                                <input type="hidden" name="item_name" value="<?php print $nameProj; ?>">
                                <input type="hidden" name="item_number" value="<?php print $idProj; ?>">
                                <input type="hidden" name="amount" value="<?php print $prezzo; ?>">
                                <input type="hidden" name="rm" value="2">
                                <input type="hidden" name="no_shipping" value="1">
                                <input type="hidden" name="return" value="http://ifreelancer.it/sold/success.php">
                                <input type="hidden" name="cancel_return" value="http://ifreelancer.it/project.php?id=<?php print $idProj; ?>">
                                <input type="submit" name="submit" class="btn btn-large btn-block btn-success" value="Paga"/>
                                    <small>*6% di commisione</small>
                                </form>
                            <?php
                            }
                            else
                            {
                                if($tipoProj == 1 && $win && $delivered == '0')
                                {
                                    // se e' freelance
                                ?>
                                    <form action="consegna.php" method="post">
                                        <input type="hidden" name="proj" value="<?php print $idProj; ?>"/>
                                        <input type="submit" name="consegna" class="btn btn-large btn-block btn-warning" value="Consegna"/>
                                    </form>
                                <?php
                                }
                            }
                        }
                    }
                }
                else
                {
                	// se E proprietario:

                    if(!$finished)
                    {
                        $dis = 'disabled';
                    }
                    if($tipoProj == 1)
                    {

                        if(!$showButton)
                        {
                        ?>
                        <form action="ready.php" method="get">
                            <input type="hidden" name="id" value="<?php print $idProj; ?>" />
                            <input type="submit" class="btn btn-large btn-block btn-success" value="Ritira" <?php print $dis; ?> />
                        </form>

                    <?php
                        }
                    }
                    if($decide && !$pagato && $tipoProj == 1)
                    {
                    ?>

                        <script src="script/paypal-button.min.js?merchant=RNRHWM5BF3HW8"
                                data-button="buynow"
                                data-name="<?php print $nameProj; ?>"
                                data-number="<?php print $idProj; ?>"
                                data-quantity="1"
                                ></script>
                        <small>*6% di commisione</small>


                        <?php
                    }

                    if(!$closed)
                    {
                    ?>
                        <a href="#closeModal" role="button" class="btn btn-large btn-block btn-danger" data-toggle="modal" id="closeProj">Chiudi</a>

                        <div id="closeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="closeLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="closeLabel">Chiusura del progetto</h3>
                            </div>
                            <div class="modal-body">
                                <p>Sei sicuro di chiudere annuncio del progetto ?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="chiudi" data-in="<?php print $idProj; ?>">Si</button>
                            </div>
                        </div>
                        <?php
                    }
                }
            }
            else
            {
            	// se utente non e registrato
            	        if($tipoProj == 1 || $tipoProj == 3)
            	        {
            	        ?>
                        <a href="login.php" class="btn btn-large btn-block btn-warning">Candidarsi</a>
                        <?php
                        }
                        else
                        {
                        print '<a href="registration.php" class="btn btn-large btn-block btn-warning">Sponsorizzare</a>';
                        }
            }?>


                    </div>
                    </div>
                    <div class="desc">
                        <h2><?php print $nameProj; ?></h2>
                        <span><?php print $nameTipoProj; ?> | <i class="icon-list"></i> <a href="search.php?cat=<?php print $idCat; ?>"><?php print $categoria; ?></a> | <i class="icon-calendar"></i> <?php print $timeProj; ?></span>
                        <hr />
                        <dl>
                            <dt><strong>Descrizione:</strong></dt>
                            <dd><?php print $descProj; ?></dd>
                            <dt><strong>Richieste:</strong></dt>
                            <dd><?php print $richesteProj; ?></dd>
                        </dl>
                    </div>
                </div>
                <?php
                }
                    print "$projects";
                    print "$comments";
                ?>
            </div>
        </div>
    </div>
</section>