<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ritiro del progetto</title>
    <?php include('include.php'); ?>
</head>
<body>
	<?php
    	include('header.html');
    ?>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="span12 well">
                    <div class="span10">
                        <legend>Titolo:<a href="profile.php?id=<?php print $winID; ?>"><?php print $projName; ?></a><br /></legend>
                    </div>
                    <div class="span4">
                        <form method="post" action="download.php">
                            <input type="hidden" value="<?php print $idProj; ?>" name="id" id="id"/>
                            <input type="submit" class="btn btn-success" value="Scarica il progetto" />
                        </form>
                    </div>
                    <div class="span4">
                        <span>Fatto da:</span>
                        <div class="media">
                            <a class="pull-left" href="profile.php?id=<?php print $winID; ?>">
                                <img class="media-object" src="<?php print $winImg; ?>" width="64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="profile.php?id=<?php print $winID; ?>"><?php print $winName . ' ' . $winSecondname; ?></a><br /></h4>
                            </div>
                        </div>
                    </div>

                    <?php
                    // controllo se la stringa di commento del sviluppatore e' > 0
                    if(strlen($commentProj) > 0)
                    {
                    ?>
                    <div class="span11 well">
                        <legend>Commento di <?php print $winName . ' ' . $winSecondname; ?>:</legend>
                        <?php print $commentProj; ?>
                    </div>

                    <?php
                    }
                    if(!$existFeedBack)
                    {
                    ?>
                    <br />
                    <div id="feedback" class="span11">
                        <div id="error"></div>
                        <form>
                            <legend>Feedback per <a href="profile.php?id=<?php print $winID; ?>"><?php print $winName . ' ' . $winSecondname; ?></a><br /></legend>
                            <label class="radio inline">
                                <input type="radio" name="feedValue" id="feedValue" value="+">
                                <span class="text-success">Positivo</span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="feedValue" id="feedValue" value="-">
                                <span class="text-error">Negativo</span>
                            </label>
                            <textarea rows="5" style="width:99%" id="feedText"></textarea>
                            <input type="hidden" value="<?php print $idProj; ?>" id="proj"  />
                            <input type="button" id="submit" class="btn btn-success" value="Conferma" />
                        </form>
                    </div>
                    <?php
                }
                ?>
            </div>

        </div>
    </section>
    
    <?php
    	include('footer.html');
    ?>
    <script type="text/javascript" src="script/feedback.js"></script>
</body>
</html>
